.page {
    display: none;
        &.current {
            display: block;
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            overflow-y:auto;
            background:#efefef;
        }
}
.page__sub {
    display: none;
        &.current {
            display: block;
        }
}
.page__btn {
    position: fixed;
    bottom: 25px;
    z-index: 1;
}
.page__btn--previous {
    left:25px;
}
.page__btn--next {
    right:25px;
}